* {
  box-sizing: border-box;
  background-color: #EDE7DC;
}

.Title {
  width: 300px;
  padding: 70px;
  margin:40px;
  border-radius: 40px;
  background-color: #BDC3CB;
  border: 5px FloralWhite;
  text-align: left;
  box-shadow: 5px 5px grey;

}

.intro{
  width: 800px;
  padding: 90px;
  margin:30px;
  border-radius: 40px;
  background-color: #CCAFA5;
  text-align: left;
  box-shadow: 10px 10px #63544f;
}

a{
  margin-top: 40px;
  padding: 100px;
  margin:30px;
  border-radius: 40px;
  background-color: #BDC3CB;
  box-shadow: 5px 5px grey;
  text-decoration:none;
  font-size: 300%;
  color:black;
}

a:visited{
  color: black;

}

a:hover{
  color: grey;
}

#link_title{
  text-align: center;
  margin:auto;
  padding:60px;
  margin-bottom: 10px;
}

.carousel .slide-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 200px;
  padding: 190px;
}

#carousel-holder {
  margin:auto;
  left:50%
}


